<ons-list-item class="my-list-item" style="background: inherit">
    <ons-row>
        <ons-col>
            <span ng-style="{'line-height' : height}" style="font-size: 15px">
            {{itemName}}
            </span>
        </ons-col>
        <ons-col>
            <span class="item-desc" ng-style="{'line-height' : height}">{{itemDesc}}</span>
        </ons-col>
        <ons-col width="20px">
            <span class="ion-chevron-right" ng-style="{'line-height' : height}"></span>
        </ons-col>
    </ons-row>
</ons-list-item>