<ons-dialog var="shareDlg" ng-controller="shareDlgCtrl" >

    <div class="panel">
        <div class="panel-body">
            <div class="center content-center">
                <h3>确认分享</h3>
            </div>
            <div class="div content-center dlg-btn-con">
                <button class="btn btn-primary" ng-click="sharePlan(quasiPlan)">确认</button>
                <button class="btn btn-primary" ng-click="shareDlg.hide()">取消</button>
            </div>
        </div>
    </div>

</ons-dialog>